main > .lazyload-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
@media(min-width: 768px) {
    main > .lazyload-wrapper {
        height: 80%;
    }
}
h1, h2, h3, h4, p {
    margin-top: 0;
}
.wrapper-image {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 62.25%
}
.wrapper-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}
.wrapper-image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ff9800;
    bottom: -8px;
    right: -8px
}
.list-social {
    right: 20px;
    z-index: 1;
}
.button-expaned-x,
.list-social a {
    box-shadow: 0 0 6px 2px #838383;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px
}
.button-expaned-x {
    border: none;
    margin-right: 10px;
    outline: none
}
.dropdown-app-panel {
    position: relative;
    min-width: 320px;
    z-index: 3;
}
.dropdown-app-panel .content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    background: #616E7D;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 40px;
}
.dropdown-app-panel button {
    width: 100%;
    background-color: white;
    border-radius: 40px;
    font-weight: bold;
    color: #616E7D;
    border: 2px solid;
    margin-top: 10px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    padding-right: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
.dropdown-app-panel:hover button {
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    background-color: #616E7D;
    border-color: #616E7D;
}
.dropdown-app-panel:hover svg {
    transform: rotate(180deg);
}
.dropdown-app-panel:hover .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown-app-panel.darkmode button {
    color: white;
    background-color: transparent;
}
.dropdown-app-panel.darkmode:hover button {
    border: 2px solid white;
    border-bottom-color: transparent;
}
.dropdown-app-panel.darkmode:hover .content {
    background-color: transparent;
    color: white;
    border: 2px solid;
    width: 100%;
    left: 0;
    border-top-color: transparent;
    top: calc(100% - 4px);
}