:root {
  --main-color: #3f51b5;
  --main-background-color: #f8fdff;
}
body {
  margin: 0;
  font-family: MyFont,-apple-system,BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  height: 100%;
  width: 100%;
}
a {
  cursor: pointer;
}
#__next {
  width: 100%;
  height: 100%;
}
