.background-title-blog {
  background: url(/images/blog-background.png) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 800px;
  position: relative;
}
.list-social {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  right: 40px;
}
.related-post {
  font-size: 36px;
  text-align: center;
  padding: 40px 0px;
  border-top: 1px solid #e0e0e0;
  width: 44%;
  margin: auto;
}
#post-menu-auto-gen {
  border: 1px solid #ddd;
  border-radius: 10px;
}
@media screen and (max-width: 780px) {
}
