.test-page {
    position: absolute
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
    background-color: #f8fdff
}

.end-test-view .image-finish img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.end-test-view .circle-progress .circle {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background: linear-gradient(108.3deg, #3a95dc 23.49%, #96d9ff 76.7%);
    display: flex;
    align-items: center;
    justify-content: center
}

.end-test-view .circle-progress {
    background: #f5f5f5;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, .7), 5px 5px 10px rgba(174, 174, 192, .7);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    margin-top: 24px
}

.end-test-view .circle-progress .content-progress {
    margin-left: 24px
}

.test-page .left-panel .left-panel-box {
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, .1);
    border-radius: 5px;
    background: #f0f0f3;
    box-shadow: 0 0 6px 4px rgba(185, 185, 185, .5)
}

.end-test-view .list-topic-progress {
    background: #fafafa;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, .7), inset 2px 2px 10px rgba(174, 174, 192, .4);
    border-radius: 10px;
    padding: 16px;
    margin-top: 24px
}

.end-test-view .circle-progress .content-progress .correct {
    display: flex;
    margin: 4px 0;
    align-items: center
}

.end-test-view .circle-progress .content-progress .mistake {
    display: flex;
    margin: 4px 0;
    align-items: center
}

.end-test-view .circle-progress .circle .circle2 {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #3a95dc;
    font-weight: 600
}

.test-game-panel {
    padding-top: 40px;
    height: calc(100% - 70px)
}

.test-game-panel .left-panel .left-panel-content {
    padding: 40px;
    padding-top: 0;
    display: flex;
    flex-direction: column
}

.test-game-panel .left-panel .left-panel-content .description {
    font-size: 17px;
    color: #383838;
    font-weight: 500;
}

.test-game-panel .left-panel .left-panel-content ul {
    list-style: none
}

.test-game-panel .left-panel .left-panel-content ul li::before {
    content: "•";
    color: #4e63bd;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

.test-game-panel .left-panel .left-panel-content ul.list-content>li {
    color: #383838;
    margin-bottom: 6px;
    font-size: 16px
}

.test-game-panel .right-panel {
    overflow: hidden
}

.test-game-panel .button-level {
    border: .33px solid rgba(0, 0, 0, .08);
    border-radius: 8px;
    padding: 20px !important;
    cursor: pointer;
    align-items: center;
    width: 320px;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    color: #000
}

.test-game-panel .button-level.active {
    background-color: #8496ea;
    color: #fff
}

.test-game-panel .button-back {
    width: 72px;
    height: 72px;
    background: #f7f7f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.test-game-panel .custom-test-view {
    box-shadow: 0 0 6px 4px rgba(185, 185, 185, .5);
    border-radius: 5px;
    padding: 30px;
    background: #f0f0f3
}

.test-game-panel .custom-test-view .buttons-panel {
    width: 100%;
    margin-top: 20px
}

.test-game-panel .custom-test-view .buttons-panel button {
    width: 200px;
    margin: 0 auto;
    display: block
}

.test-game-panel .box-question-panel {
    box-shadow: 0 0 6px 4px rgba(185, 185, 185, .5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f3
}

.test-info-item {
    cursor: pointer
}

.test-info-item .test-info-item-container {
    width: 180px;
    height: 180px;
    box-sizing: border-box;
    position: relative
}

.test-info-item .test-info-item-container .test-info-item-top {
    width: 180px;
    height: 90px;
    border-bottom: none !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.test-info-item .test-info-item-container .test-info-item-bottom {
    width: 180px;
    height: 90px;
    border-top: none !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.test-info-item .test-info-item-container .test-info-item-content {
    width: 165px;
    height: 165px;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 8px
}

.test-info-item .test-info-item-container .test-info-item-left {
    width: 90px;
    height: 180px;
    border: 2px solid #4e63bd;
    border-right: none !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

.test-info-item .test-info-item-container .test-info-item-right {
    width: 90px;
    height: 180px;
    border: 2px dashed #4e63bd;
    border-left: none !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

.test-info-item .test-info-item-container .test-info-item-content .circle-progress {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    background: linear-gradient(134.17deg, #eef0f5 4.98%, #e6e9ef 94.88%);
    border-radius: 50%;
    display: flex
}

.test-info-item .test-info-item-container .test-info-item-content .circle-progress .circle-progress-content {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: inset 5px -4px 10px #6bb8fe;
    margin: auto;
    display: flex;
    color: #fff;
    font-size: 16px;
    align-items: center;
    justify-content: center
}

.test-info-item .test-info-item-container .test-info-item-content .test-info-title {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(98, 98, 98, .966499)
}

.test-game-panel .test-progress-panel {
    padding: 20px 40px;
    width: 100%;
    background: #f0f0f3
}

.test-game-panel .test-progress-panel .progress-panel {
    position: relative
}

.test-game-panel .test-progress-panel .progress-panel .content-line-progress {
    position: absolute;
    top: 0;
    height: 20px;
    transition: .5s;
    white-space: nowrap
}

.test-game-panel .test-progress-panel .progress-panel .parent-content-panel {
    width: 100%;
    height: 10px;
    background: #fff;
    box-shadow: inset 3px 4px 3px rgba(0, 0, 0, .12);
    border-radius: 5px
}

.test-game-panel .test-progress-panel .progress-panel .parent-content-panel .content-progress {
    background: linear-gradient(270deg, #4e63bd 6.58%, #7f91dc 99.04%);
    height: 10px;
    position: absolute;
    top: 18px;
    left: 0;
    border-radius: 10px;
    transition: .5s
}

.test-game-panel .button-game-panel {
    padding: 20px 0
}

.test-game-panel .questions-panel.end-game {
    box-shadow: 0 0 6px 4px rgba(185, 185, 185, .5);
    border-radius: 5px
}

.custom-test-content-dialog-panel .custom-test-content-panel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    padding-bottom: 0;
    justify-content: space-between
}

.custom-test-content-dialog-panel .custom-test-content-panel .item {
    width: calc(50% - 10px);
    margin-bottom: 20px
}

.custom-test-content-dialog-panel .custom-test-content-panel .item label {
    font-weight: 500;
    display: block;
    width: 100%;
    margin-bottom: 10px
}

.custom-test-content-dialog-panel .custom-test-content-panel .item .field-content {
    width: 100%;
    border-radius: 3px
}

.custom-test-content-dialog-panel .custom-test-content-panel .item .field-content #select-content-test,
.custom-test-content-dialog-panel .custom-test-content-panel .item .field-content #select-instance-feedback,
.custom-test-content-dialog-panel .custom-test-content-panel .item .field-content #text-box-allowed-mistakes,
.custom-test-content-dialog-panel .custom-test-content-panel .item .field-content #text-box-question-number {
    padding: 10px
}

.custom-test-content-dialog-panel .custom-test-content-panel .item .field-content #select-content-test {
    border: 1px solid #ddd
}

.custom-test-content-dialog-panel .custom-test-content-panel .item .select-content-test .MuiInput-formControl:after,
.custom-test-content-dialog-panel .custom-test-content-panel .item .select-content-test .MuiInput-formControl:before {
    content: none
}

.custom-test-content-dialog-panel .start-test-button-panel {
    padding: 30px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}

.spacer-height-test {
    height: 40px;
    width: 100%
}

.test-game-panel .button-level .b-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px
}

.test-game-panel .button-level .b-des {
    font-size: 14px
}

@media screen and (max-width: 1400px) {
    .test-game-panel {
        padding-top: 20px
    }

    .spacer-height-test {
        height: 20px
    }

    .test-game-panel .button-level {
        padding: 15px !important
    }
}

@media screen and (max-width: 780px) {
    .end-test-view .list-topic-progress {
        overflow: scroll
    }

    .test-game-panel .button-level {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        min-width: 80%
    }

    .test-game-panel .list-level {
        margin-left: 0
    }

    .test-game-panel .button-back {
        background: transparent;
        width: 60px;
        height: 60px;
        margin-right: auto
    }

    .test-game-panel {
        padding: 0 !important;
        margin-bottom: 80px
    }

    .test-page .left-panel {
        width: 100%
    }

    .test-game-panel .custom-test-view {
        padding: 10px 20px;
        box-shadow: none !important;
        background: #e5e5e5
    }

    .test-game-panel .questions-panel {
        bottom: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: #fff;
        padding: 8px !important
    }

    .test-game-panel .questions-panel .question-item-panel {
        margin-bottom: 0
    }

    .test-game-panel .box-question-panel {
        box-shadow: none;
        background: #e5e5e5;
        height: 100%
    }

    .test-game-panel .test-progress-panel {
        background: #e5e5e5;
        width: 100%;
        padding: 0 16px
    }

    .custom-test-content-dialog-panel .custom-test-content-panel .item {
        width: 100%
    }

    .test-info-item .test-info-item-container {
        width: 150px;
        height: 150px
    }

    .test-info-item .test-info-item-container .test-info-item-top {
        width: 150px;
        height: 75px
    }

    .test-info-item .test-info-item-container .test-info-item-bottom {
        width: 150px;
        height: 75px
    }

    .test-info-item .test-info-item-container .test-info-item-right {
        width: 75px;
        height: 150px
    }

    .test-info-item .test-info-item-container .test-info-item-left {
        width: 75px;
        height: 150px
    }

    .test-info-item .test-info-item-container .test-info-item-content {
        width: 135px;
        height: 135px
    }

    .test-info-item .test-info-item-container .test-info-item-content .circle-progress {
        margin: auto
    }

    .test-info-item .test-info-item-container .test-info-item-content .test-info-title {
        margin-bottom: 8px
    }

    .end-test-view {
        box-shadow: none
    }

    .end-test-view .chart-panel {
        padding: 30px 0
    }

    .parent-button-test {
        position: fixed;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        background: #fff;
        padding: 10px !important
    }
}

.end-test-view .title {
    background-color: green;
    color: #fff;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.end-test-view .chart-panel {
    padding: 30px
}

.end-test-view .description {
    padding: 0 30px
}

.end-test-view .description .content {
    border-radius: 10px;
    background-color: #ceff83;
    padding: 20px
}

.end-test-view .try-again-test-button {
    margin: 20px auto;
    display: block;
    width: calc(100% - 60px)
}

.end-test-view.test-failed .title {
    background-color: red
}

.end-test-view.test-failed .description .content {
    background-color: #ffbcbc
}

.main-test-game-panel {
    align-items: stretch;
    height: calc(100% - 140px)
}

.parent-button-test {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px
}

.button-test {
    width: 200px;
    border-radius: 50px !important;
    box-shadow: inset 0 4px 4px rgba(255, 255, 255, 0.25) !important;
    font-weight: 700 !important;
    padding: 8px !important
}

.button-test.continue {
    background-color: #516df1 !important
}

.questions-panel.questions-panel-2 {
    background-color: transparent !important;
    height: calc(100% - 70px) !important
}

.count-down {
    background: #0008ff91;
    border-radius: 20px;
    height: 40px;
    width: 140px;
    margin: 0 auto 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}

.questions-panel {
    padding: 15px 40px
}

@media screen and (max-width: 1400px) {
    .main-test-game-panel {
        height: calc(100% - 90px)
    }

    .count-down {
        margin-bottom: 10px
    }
}

@media screen and (max-width: 780px) {
    .test-game-panel {
        height: 100%;
        margin-bottom: 0
    }

    .test-game-panel .right-panel {
        height: 100%
    }

    .questions-panel {
        padding: 15px
    }

    .button-test {
        width: 100%
    }
}

.left-panel-box .button-level {
    margin-bottom: 10px;
}

.left-panel-box .list-level {
    align-items: center;
    justify-content: center;
}

.button-level-popover .list-level {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-level-popover .button-level {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px !important;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.button-level-popover .b-title {
    font-weight: bold;
}
.button-level-popover .b-des {
    font-size: 0.9em;
}
.button-level-popover .button-level.active {
    background-color: #4e63bd;
    color: white;
    border: none;
}
@media screen and (min-width: 780px) and (max-width: 1200px) {
    .left-panel-content {
        padding: 20px !important;
    }
    .left-panel-content .description {
        font-size: 0.9em !important;
    }
    .left-panel-content .list-content > li {
        font-size: 0.9em !important;
    }
}
@media screen and (min-width: 1000px) {
    .main-test-game-panel {
        height: calc(100% - 5px);
    }
}
@media screen and (min-width: 1300px) {
    .main-test-game-panel {
        height: calc(100% - 20px);
    }
}
@media screen and (min-width: 1500px) {
    .main-test-game-panel {
        height: calc(100% - 30px);
    }
}